## Episode 3 - ['Data types and type conversion'](https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html)

### Use the built-in function *type()* to find the type of a variable object (*what type of information has been stored in it*).

* Use *type()* to find out what data type a given value has.

* Similarly to variable objects..

NB: the value has the type — the variable/ object is just a label.

In [1]:
# For example:

# print(type(42))

In [2]:
# type(42)

In [3]:
# print(type('character'))

In [4]:
# type('character')

In [5]:
# a = 10
# b = 'myString'

In [6]:
# type(a)

In [7]:
# print(type(a))

In [8]:
# type(b)

In [9]:
# print(type(b))

### Types control what **operations** (or functions / methods) can be performed (*executed*) on a given value / object, value / object pair.

Some arithmeticv operation can, others cannot be appl;ied on both numeric and character string values or variable objects.

* *Subtraction* cannot work on *str* values or objects

In [10]:
# 5 - 3

In [11]:
# print(5 - 3)

In [12]:
# (5 - 3)

In [13]:
# 'hello' - 'h'

In [14]:
# print('hello' - 'h')

* *Addition* ('**+**') and *multiplication* (**'*'**), on the other hand, are valid operations on both **numeric** and **str** values or objects.

    * “Adding” character strings concatenates them.
    
    * Multiplying a character string by an integer N creates a new string that consists of that character string repeated N times. (*NB: Multiplication is a repeated addition*)

In [15]:
# first_name = 'John'
# last_name = ' Doe' # NB: there is a white space at the beginning

In [16]:
# full_name = first_name + last_name

In [17]:
# full_name

In [18]:
# full_name_2 = 'Alice' + ' ' + 'Smith'

In [19]:
# full_name_2

In [20]:
# 'first name' + ' last name'

In [21]:
# print('First name' + ' and' + ' last name')

In [22]:
# Apply multiplication ('*') operation on character string ('str') values 
# or variable objects:

# string_object_1 = 'Apple '
# string_object_2 = "Banana "

In [24]:
# full_name = full_name + ' ' # Add white space to the end

In [ ]:
# 'Pear ' * 10

In [ ]:
# c = "pear "

In [ ]:
# 10 * c

In [ ]:
# c * 10

In [ ]:
# print(5 * string_object_1, 5 * string_object_2)

In [ ]:
# print(5 * string_object_1 + 5 * string_object_2) # in case of strings, comma ','
# can be replaced by '+' to concatenate two streams of strings

### Length can be checked in case of string (character) values but not in case of numeric objects

* The built-in function **len()** counts the number of characters in a string.

In [ ]:
# full_name = full_name.rstrip(' ') # rstrip removes e.g. white spaces from the right (end of the character string)

In [ ]:
# full_name

In [ ]:
# len(full_name) # 8-character-long; NB: white spaces count as well!

In [ ]:
# len('abc')

In [ ]:
# len(a) # remember, earlier we've assigned numeric 10 to object named as 'a'

In [ ]:
# len(42)


### Data type conversions

Data objects/ values should be converted in order to let Python implement 'arithmetic operations' on them. For example:

* Cannot add numbers and strings - Mind about data type homogeneity within scope of the operation!

In [ ]:
# print(1 + '2') # numeric values can be represented as both character strings as well as numeric objects

In [ ]:
# print(a, 2)

In [ ]:
# print (a + 2)

In [ ]:
# print (a + '2')

In [ ]:
# print("The participant's age is: " + '42')

In [ ]:
# print("The participant's age is: " + 42) # Can use comma (',') instead of '+' when
# want to print ouit a stream of values with mixed data types

### Let's convert data types to preserve homogeneity

Here, we are going to implement **explicit data type conversion**.

In [ ]:
# print(1 + int('2'))

In [ ]:
# print(5 + a)

In [ ]:
# print(str(1) + '2') # str + str --> This IS concatenation
# print(str(1) + ' ' + '2')

In [ ]:
# print('2' + str(a))

### Can mix integers and floats as both are numeric subtypes and can be easily transformed to one another

* *Python 3* automatically converts integers to floats as needed. (Integer division in Python 2 will return an integer, the floor of the division).

In [ ]:
# print('half is ', 1/2.0)

In [ ]:
# print('three sqared is ', 3.0 ** 2)

In [ ]:
# print('a third is ', 1/3)

In [ ]:
# print('a third is ', 1.0/3)

In [ ]:
# print('a third is ', 1/3.0)

In [ ]:
# print('a third is ', 1.0/3.0)

Can use [floor division](https://python-reference.readthedocs.io/en/latest/docs/operators/floor_division.html) - implements arithmetic division and rounds to the closest integer. The returning result's *data type* or *format* is dependent on the operands' data types (e.g. if either is float then the result will be printed out in a float format).

In [ ]:
# print('a third is ', 1//3.0)

In [ ]:
# print('a third is ', 1//3)

### Additional considerations / further practical demonstrations

1. **Fractions** AKA *floating point number* representation (*data type: **float**)*

* E.g. check data type of the value 3.14

In [ ]:
# type(3.14)

2. **Automatic (AKA Implicit) type conversion**: *float* is 'higher order' than *int* (by default, Python want to preserve the granularity opr resolution..)

* E.g. check data type of returning value of the following operation: 3.14 + 3


[Read more](https://www.freecodecamp.org/news/learn-typecasting-in-python-in-five-minutes-90d42c439743/)

In [ ]:
# type(3.14 + 3)

In [ ]:
# d = 5.3 + 1

In [ ]:
d

In [ ]:
# type(d)

3. **Division types**

* In Python 3, the '**//**' operator performs **integer (*whole-number*) floor division**, the '**/**' operator performs **floating-point division**, and the ‘**%**’ (*or modulo*) operator calculates and **returns with the remainder from integer division**.

* For illustration, consider the following examples:

    * *print('5 // 3:', 5//3)*

    * *print('5 / 3:', 5/3)*

    * *print('5 % 3:', 5%3)*

In [ ]:
# print('5 // 3:', 5//3)

In [ ]:
# print('5 / 3:', 5/3)

In [ ]:
# print('5 % 3:', 5%3)

4. **Type conversion: trings to numbers**

* Where reasonable, **float()** will convert a *string* to a *floating point number*, and **int()** will convert a *floating point number* to an *integer*.

* Look at the following examples:

    * *print("string to float: ", float("3.14"))*
    * *print("float to int: ", int(3.14))*
    * *print("string to int: ", int("3.14"))* 

*NB: the last one will throw an error - try to comprehend, why..*

In [ ]:
# print("string to float: ", float("3.14"))

In [ ]:
# print("float to int: ", int(3.14))

In [ ]:
# print("string to int: ", int("3.14"))

* If the type conversion does not make sense...

    * *print("string to float:", float("Hello world!"))*

In [ ]:
# print("string to float:", float("Hello world!"))

## Excercises

### 3.1 'Choose a Type' (~ discussion)

What type of value (integer, floating point number, or character string) would you use to represent each of the following? 

Try to come up with more than one good answer for each problem. 

For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?

* Number of days since the start of the year.

* Time elapsed from the start of the year until now in days.

* Serial number of a piece of lab equipment.

* A lab specimen’s age.

* Current population of a city.

* Average population of a city over time.

In [ ]:
# 3.1 - Any comments...

### 3.2 'Arithmetic with Different Types'

Which of the following will return the **floating point number 2.0**? 

*NB: there may be more than one right answer.*

Answer options:

* 1. first + float(second)

* 2. float(second) + float(third)

* 3. first + int(third)

* 4. first + int(float(third))

* 5. int(first) + int(float(third))

* 6. 2.0 * second


When given Python code:

*first = 1.0*

*second = "1"*

*third = "1.1"*